h1 {
  font-size: large;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(white, linen)  
}

img {
    float: left;
    margin-top: auto;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: none;
    border-radius: 10px;
}

#biovideo {
    margin-left: 300px;
    margin-top: 30px;
}

#developer {
  font-size: larger;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: none;
  font-family: "Roboto", sans-serif;
}

#contact {
    margin-top: 125px;
    padding-left: 15px;
    font-size: large;
    color: gray
}

#name {
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
}

.social-icon {
    color: rgb(26, 156, 236);
    transition: 0.2s;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.25em;
}

.social-icon:hover {
    color: darkslategray;
}

#bio {
  position: absolute; 
  margin-top: 100px;
  color: black;
  font-size: large;
  padding-right: 40px;
  padding-left: 15px;
  padding-bottom: 60px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}